# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.build/
dist/
.venv/
venv/

# OS/editor
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Local env & runtime
.env
.env.*
!.env.example
*.sqlite
*.db
*.log

# Caches
.cache/
pytest_cache/

# Docker
**/.dockerignore

